<h2> Add a new dog to the database </h2>

<form action="/dogs" method="POST">

  <label> Dog Name:</label>
  <input id="dog_name" type="text" name="dog_name"><br>

  <label> Age: </label>
  <input id="age" type="text" name="age"><br>

  <label> Breed: </label>
  <input id="breed" type="text" name="breed"><br>

  <label> Adoption Status: </label>
  <input id="adoption_status" type="text" name="adoption_status"><br>

  <!-- add foster status -->

  <input type="submit" value="Submit">
</form>