<h2> Add a new dog to the database </h2>

<form action="/dogs" method="POST">

  <label> Dog Name:</label>
  <input id="dog_name" type="text" name="dog_name" placeholder="enter dog name"><br>

  <label> Age: </label>
  <input id="age" type="text" name="age" placeholder="enter age"><br>

  <label> Breed: </label>
  <input id="breed" type="text" name="breed" placeholder="enter breed"><br>

  <label> Adoption Status: </label>
  <input id="adoption_status" type="text" name="adoption_status" placeholder="enter adoption status"><br>

  <input type="submit" value="Submit">
   
</form>

<p> <a href="/dogs"><button>Cancel</button></a></p>
