

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
    
<!-- Login  form -->
<h3>Enter your login details below to proceed </h3>

<form action='/login' method="POST">
  <label for="username">Username</label>   
  <p><input type="text" name="username" id="username" placeholder="enter username"/></p>
  
  <label for="password">Password</label>   
  <p><input type="text" name="password" id="password" placeholder="enter password"/></p>
  
  <input type="submit" value="Submit"/>

</form>

<p> <a href="/"><button>Go Back</button></a></p>

