<!-- Display user's home page-->
<% if flash.has?(:message) %>
 
  <%= flash[:message] %>
<% end %>

<h3> Welcome, <%= @user.username.capitalize!%>! What would you like to do today?</h3>

<!-- 1. View/Edit dogs in the database -->

<p> <a href="/dogs">1. View / Edit dogs in the database</a></p>

<!-- 2. Logout -->
<p> <a href="/logout">2. Logout</a></p>

