<!-- Display user summary page-->

<h3> Welcome back <%= @user.username%>, this page lists all the dogs that are currently in your foster care.</h3>
<p> Select a dog name to view or edit details; or click return to view all dogs currently in care of the shelter.</p>

<% @user.dogs.each do |dog| %>
  <h3><a href="/dogs/<%=dog.id %>"><%= dog.dog_name%></a></h3>
<% end %>

<br>

<a href="/dogs"> Return to list of available dogs </a>
<br>

<a href="/logout">Logout</a>