<!-- Sign up form -->
<h3>Welcome! Create an account below.</h3>

<form action="/signup" method="POST">

  <input type="text" name="username" value=<%=@user.username if @user%>><br>
  <input type="email" name="email" value=<%=@user.email if @user%>> 
  <br>

  <input type="password" name="password" value=<%=@user.password if @user%>> <br>
  <input type="submit" value="Sign Up">

</form>