<h3>Thank you for choosing to foster. To proceed, create an account below.</h3>

<form action="/signup" method="POST">

  <input type="text" name="username" placeholder="Username:">
  <input type="email" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">

</form>