<!-- Sign up form -->
<h3>Welcome! Create an account below.</h3>

<form action="/signup" method="POST">

  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="yourname@example.com"> <br>
  <input type="password" name="password" placeholder="password"> <br>
  <input type="submit" value="Sign Up">

</form>