
    <h2>Welcome to The Dog Foster Portal!</h2>

    <div class="content">
      <p>Thank you for choosing to volunteer!<p> 
      <p>If you are a new to this portal, click below to sign up.<p>

      <a href='/signup'><button>Signup</button></a>

      <p>If you are a returning user, click below to login.<p> 
      <a href='/login'><button>Login</button></a>
    </div>  


