<div class="container">
  <header><img src="images/dog.jpg" class="dog"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to The Dog Foster Portal!</h2>

    <div class="content">
      <p>Thank you for choosing to foster!<p> 
      <p>If you are a new volunteer, click below to sign up.<p>

      <a href='/signup'><button>Signup</button></a>

      <p>If you are a returning volunteer, click below to login<p> 
      <a href='/login'><button>Login</button></a>
    </div>

    <div class="sidebar">
      <h3>Contact Details:</h3>
      
    </div>

  </div>
</div>
